body {
}

.layout {
 border-radius: 5px;
 background:#fff;
}

.banner {
background: #e95420 ;
color:#fff;
padding-left:20px;
}
.banner2,.banner2 a {
color:gray;
}
.blogs {
margin-top:10px;
text-align:left;
}
.container {
  margin-top:10px;
}

.list-group-item {
  padding:1px;
  border:0px !important;
}

.list-group-item:hover {
  background: #e95420  !important;
  color: #fff  !important;
}
